@import "tailwindcss";

@theme {
  --color-primary: #b81e43;
  --color-secondary: #27377c;
  --color-tertiary: #5cb578;
  --color-background: #ebeef4;
  --color-variation-red: #ef4157;
  --color-variation-orange: #f79853;
  --color-variation-light-blue: #27a7df;
  --color-variation-dark-blue: #374b9e;
  --color-variation-red-border: #d03157;
  --color-variation-orange-border: #d5864c;
}

* {
  @apply outline-blue-600 outline-offset-0;
}

:root {
  background-color: var(--color-background);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  width: 100dvw;
}

body {
  @apply size-full py-5 px-4;

  @variant lg {
    @apply py-15 px-14;
  }
}
